:root {
    /* using colours from https://gleam.run/branding/ */
    --pink-colour: #ffaff3;
    --charcoal: #2f2f2f;
    --black: #1e1e1e;
    --blue: #a6f0fc;
}

.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

button {
    border: 5px solid var(--charcoal);
    background-color: var(--blue);
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.lucy-menu {
    position: absolute;
    animation-name: lucy-menu-anim;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.lucy-wrapper {
    position: relative;
}

@keyframes lucy-menu-anim {
    0% {
        left: -300px;
        top: 20px;
    }

    100% {
        left: 200px;
        top: 50px;
    }
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.menu-button {
    font-size: 30px;
    z-index: 2;
}
