:root {
    /* using colours from https://gleam.run/branding/ */
    --pink-colour: #ffaff3;
    --charcoal: #2f2f2f;
    --black: #1e1e1e;
    --blue: #a6f0fc;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

button {
    border: 5px solid var(--charcoal);
    border-radius: 15px;
    background-color: var(--blue);
}

button:hover {
    background-color: var(--pink-colour);
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.lucy-menu {
    position: absolute;
    animation-name: lucy-menu-anim;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.lucy-wrapper {
    position: relative;
}

.lucy-over {
    position: absolute;
    animation-name: lucy-menu-anim;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes lucy-menu-anim {
    0% {
        left: -300px;
        top: 20px;
    }

    100% {
        left: 200px;
        top: 50px;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.menu-button {
    font-size: 40px;
}

.game-info-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    color: var(--blue);
}

.game-button-wrapper {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    gap: 10px;
}

.game-button {
    font-size: 30px;
}

.main-info-wrapper {
    top: 20%;
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 60px;
}

.main-info-text {
    color: var(--pink-colour);
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.fade-out {
    animation: fade-out ease-out forwards 3s;
}

@keyframes fade-out {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

.controls-overlay-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.controls-overlay {
    width: 60%;
    height: 60%;
    border: 5px solid var(--pink-colour);
    border-radius: 10px;
    box-sizing: border-box;
    background-color: var(--blue);
    opacity: 90%;
    padding: 20px;
    color: var(--black);
    pointer-events: visible;
}

.controls-overlay > h2 {
    text-align: center;
    font-size: 30px;
}

.controls-close-button-wrapper {
    position: relative;
}

.controls-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    border: 0px;
    background-color: var(--charcoal);
    color: var(--blue);
}

.controls-close-button:hover {
    background-color: var(--pink-colour);
    color: var(--charcoal);
}

.close-button {
    width: 30px;
    height: 30px;
}

.points-info-wrapper {
    position: absolute;
    left: 10px;
    top: 10px;
    color: var(--blue);
}

.game-over-button-wrapper {
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
}

.game-over-button {
    font-size: 40px;
}

.game-over-text {
    font-size: 60px;
    color: var(--pink-colour);
}
